// main: style.less

body {
    font-family: @primary__font;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    
    line-height: 20px;
    
    background-color: @background__primary__color;
    color: #fff;
}

.svg-defs {
    display: none;
    width: 0;
    height: 0;
    
    visibility: hidden;
    overflow: hidden;
}

img {
    max-width: 100%;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

svg.icon:not(.stroke) {
    color: @primary__color;
    vertical-align: baseline;
}

.wrapper {
    padding-left: 5px;
    padding-right: 5px;
    
    @media @lg__screen {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

.main {
    
    &__screens {
        display: none;
        flex-direction: column;
        align-items: center;
        
        position: fixed;
        z-index: 5;
        
        left: 45px;
        top: 50%;
        transform: translateY(-50%);
        
        a {
            position: relative;
            
            width: 12px;
            height: 12px;
            
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            
            &::before {
                content: '';

                width: 18px;
                height: 18px;

                position: absolute;
                margin-top: -3px;
                margin-left: -3px;

                background-color: transparent;

                border: 1px solid;
                border-radius: 100%;
                border-color: #323232;
                
                opacity: 0;
                
                transition: opacity .25s;
                -moz-transition: opacity .25s;
                -o-transition: opacity .25s;
                -webkit-transition: opacity .25s;
                -ms-transition: opacity .25s;
            }
            
            &::after {
                display: block;
                
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                
                content: '';
                
                width: 10px;
                height: 10px;
                
                border-radius: 100%;
                
                background-color: #323232;
                
                transition: .2s all;
                -moz-transition: .2s all;
                -o-transition: .2s all;
                -webkit-transition:  .2s all;
                -ms-transition: .2s all;
                
            }
            
            &.current {
                
                &::before {
                    opacity: 1;
                }
                
                &::after {
                    width: 12px;
                    height: 12px;
                }
                                
            }
        }
                
    }
    
    &__social {
        display: none;
        
        position: fixed;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        
        a {
            position: relative;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            width: 52px;
            height: 52px;
            background-color: #323232;
            
            border-radius: 100%;
            
            &:not(:last-child) {
                margin-bottom: 18px;
            }
            
            svg {
                color: #fff;
                
                &.vk {
                    width: 25.01px;
                    height: 14.59px;
                }
                
                &.youtube {
                    width: 31.23px;
                    height: 21.86px;
                }
                
                &.instagram {
                    width: 24.95px;
                    height: 24.96px;
                }
            }
            
        }
        
        @media @lg__screen {
            display: block;
        }
        
    }
    
}

.home {
    
    .main {
        
        &__screens {
        
            @media @lg__screen {
                display: flex;
            }
            
        }
        
    }
    
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-family: @secondary__font;
    font-weight: bold;
}

.btn {
    border-radius: 0;
    font-weight: 450;
    font-size: 13px;
    padding: 17px;
    min-width: 155px;
    line-height: 1;
    text-transform: uppercase;
    
    &-light {
        .button(#fff);
    }
    
    &-dark {
       .button(@background__primary__color);
    }
    
    &--custom {
        border-color: @primary__color;
        
        &:not(.btn--outline) {
            .button(@primary__color);
            color: @background__secondary__color;
        }
        
        &.btn--outline {
            .button(@primary__color);
            color: @primary__color;
            background-color: transparent;
        }
        
    }
    
}

.form-group:not(:last-child) {
    margin-bottom: 22px;
}

input.form-control,
textarea.form-control {
    border-radius: 0;
    border-color: @third__color !important;
    padding: 15px 18px;
    font-size: 18px;
    color: @secondary__color;
    background-color: @background__primary__color !important;

    &:focus {
        box-shadow: 0 0 0 0.2rem fade(#fff, 50%)
    }
}

textarea {
    resize: none;
    height: 178px;
}

.thumbnail {
    position: relative;
    text-align: center;
    
    &.thumbnail--shadow {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        
        padding-bottom: 80px;
        
        &::after {
            content: '';

            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            z-index: -1;

            width: 981.27px;
            height: 230px;

            background-image: url(../img/effects/shadow.png);
            background-position: center bottom;
            background-size: contain;
            background-repeat: no-repeat;
        }
        
    }
    
    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
    
    &--cover {
        
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        
    }
    
}

.youtube__player {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    min-height: 335px;
    
    background-size: cover;
    background-color: #191919;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center center;
    
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    .play {
        position: relative;
        
        width: 52px;
        height: 52px;
        
        overflow: hidden;
        
        border-radius: 100%;
        background: #323232;
        box-shadow: 0px 8px 12px rgba(37, 44, 50, 0.21);
        
        z-index: 2;
        
        svg {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-40%, -50%);
            
            
            width: 27.5px;
            height: 27.5px;
            
            color: @menu__item__color;
        }
    }
    
    iframe ~ .play {
        display: none;
    }
    
}

.slick-track,
.slick-track:focus,
.slick-slide,
.slick-slide:focus {
    outline: none;
}

.slick__arrow {
    display: none !important;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 12.5px;
    height: 21.5px;

    &--prev {
        left: -58px;
    }

    &--next {
        right: -58px;
    }

    svg {
        color: #C2C2C2;
    }    

    @media @lg__screen {
        display: block !important;
    }
}

.slick__dots {            
    width: 100%;

    padding: 0;
    margin: 0;

        display: flex;
    justify-content: center;
    align-items: center;

    li {
        position: relative;

        width: 17px;
        height: 17px;

        list-style: none;

        &:not(:last-child) {
            margin-right: 15px;
        }

        button {
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 13.6px;
            height: 13.6px;

            overflow: hidden;

            border: none;

            outline: none;
            background-color: #393939;
            color: transparent;

            transition: .2s all;
            -moz-transition: .2s all;
            -o-transition: .2s all;
            -webkit-transition: .2s all;
            -ms-transition: .2s all;
        }

        &.slick-active button {
            width: 17px;
            height: 17px;

            background-color: @primary__color;
        }

    }

    @media @lg__screen {
        position: absolute;
        bottom: -75px;
    }

}

.checkbox--virtual {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 0;
        
    vertical-align: top;
    
    cursor: pointer;
    
    .element {
        display: inline-flex;
        flex: 0 0 21px;
        justify-content: center;
        align-items: center;

        position: relative;
        
        width: 21px;
        height: 21px;
        
        border: 1px solid #B8B8B8;
    
        background: transparent;
        
        margin-right: 15px;
        
        &::before {
            content: '';
            
            display: block;
            
            width: 15px;
            height: 15px;

            background-color: #B8B8B8;

            margin: 0 !important;

            opacity: 0;

            transition: opacity .25s;
            -moz-transition: opacity .25s;
            -o-transition: opacity .25s;
            -webkit-transition: opacity .25s;
            -ms-transition: opacity .25s;
        }
    }
    
    input {
        width: 0;
        height: 0;
        position: absolute;
        z-index: -10;
    
        &:checked ~ .element::before {
            opacity: 1;
        }
        
    }
    
}

.list--done {
    padding: 0;
    margin: 0;
    
    list-style: none;
        
    li {
        position: relative;
        
        line-height: 22px;
        
        padding-left: 36px;
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        
        &::before {
            content: '';
            
            position: absolute;
            top: 5px;
            left: 0;
            
            width: 27px;
            height: 22px;
            
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: url(../img/icons/done.svg);
            background-size: contain;
        }
    }
    
    
}

.modal {
    
    &-dialog {
        
        &--custom {
            max-width: calc(100% - 20px);
            
            @media screen and (min-width: 390px) {
                max-width: 380px;
            }
        }
        
        .modal-content {
            font-family: @third__font;
            
            border-radius: 0;
            background-color: @primary__color;
                
            padding: 20px 30px;
            
            .modal-header,
            .modal-body {
                padding: 0;
            }
            
            .modal-header {
                border: none;
                
                .modal-title {
                    font-weight: bold;
                    font-size: 18px;
                    color: @background__secondary__color;
                    
                    margin-bottom: 35px;
                }
                
                .close {
                    float: none;
                    
                    padding: 0;
                    margin: 0;
                    
                    svg {
                        width: 20px;
                        height: 20px;
                        color: @background__primary__color;
                    }
                }
            }
            
            .modal-body {
                
                input,
                textarea {
                    .input__in__modal();
                }
                
                button {
                    display: block;
                    
                    width: 100%;
                    
                    font-weight: bold;
                    font-size: 15px;
                    
                    margin-top: 55px;
                }
                
                .hint {
                    font-size: 12px;
                    color: @background__secondary__color;                    
                    text-align: center;
                    
                    margin: 20px 0 0;
                }
                
            }
            
            @media screen and (min-width: 390px) {
                padding: 40px 50px;
            }
            
        }
        
    }
    
}