// main: style.less

// FONTS
@primary__font: 'Avenir Next Cyr';
@secondary__font: 'Akrobat';
@third__font: 'Ubuntu';

// SIZES
@header__height: 104px;
@header__height__lg: 124px;

@tutorial__portrait__item: 85px;
@tutorial__portrait__item__sm: 40px;

@tutorial__landscape__item: 15px;

// COLORS
@primary__color: #FFD02B;
@secondary__color: #C4C4C4;
@third__color: #B8B8B8;
@background__primary__color: #0E0E0E;
@background__secondary__color: #1A1A1A;
@menu__item__color: #C2C2C2;
@menu__active__item__color: #fff;

// MEDIAVALUES
@xlg__screen: ~'screen and (min-width: 1200px)';
@xlg__screen__mx: ~'screen and (max-width: 1199px)';
@lg__screen: ~'screen and (min-width: 992px)';
@lg__screen__mx: ~'screen and (max-width: 991px)';
@md__screen: ~'screen and (min-width: 768px)';
@md__screen__mx: ~'screen and (max-width: 767px)';
@sm__screen: ~'screen and (min-width: 576px)';
@sm__screen__mx: ~'screen and (max-width: 575px)';