// main: ../style.less

.section--product-types {
    
    .product {
        
        &__name {
            font-weight: 450;
            font-size: 28px;
        }
        
        &__hint {
            font-size: 18px;
            color: @primary__color;
        }
        
        &__types {
            font-size: 24px;
        }
        
    }
    
}