// main: ../style.less

.section__send-question {

    .heading {

        @media @lg__screen {
            margin-bottom: 10px;
        }

    }

    .container {
        background-size: 0;

        .row {

            .form__content {
                max-width: 390px;
                width: 100%;
                
                .btn {
                    min-width: 215px;
                }

            }

            @media @lg__screen {
                height: 635px;
            }

        }

        @media @lg__screen {
            background-position: center right;
            background-size: contain;
            background-repeat: no-repeat;
            background-blend-mode: lighten;
            background-color: @background__primary__color;
        }

    }

}